#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.custom-tabs .ant-tabs-nav {
  border-radius: 10px;
  width: 33.5%;
  margin: auto;
  background-color: rgba(227, 220, 220, 0.484);
}

.custom-tabs .ant-tabs-tab {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-tabs .ant-tabs-tab-active {
  background: #000000;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.custom-tabs .ant-tabs-ink-bar {
  display: none;
}
